html {
  background-color: #070060;
}

body {
  align-items: center;
  background: linear-gradient(45deg, #070060 ,#000 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;}

@keyframes glow { 0% {box-shadow: 0px 0px 30px blue;}
            25% {box-shadow: 0px 0px 15px blue;}
            50% {box-shadow: 0px 0px 30px teal;}
            75% {box-shadow: 0px 0px 15px blue;}
            100% {box-shadow: 0px 0px 30px blue;}
}

h1 {
  color: lime;
  padding: 10px;
  background: black;
  border: solid 2px teal;
  box-shadow: 0px 0px 15px blue;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  cursor: default;
  animation-name: glow; animation-duration: 4s; animation-delay: 1.5s; animation-iteration-count: infinite;}

.teclado {
  background: linear-gradient(to bottom, black,#070060,blue);
  box-shadow: 6px 8px 6px black, 10px 10px 10px #000, 0px 0px 15px lime;
  border: solid 2px lime;
  border-radius: 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;}

.tecla {
  background-color: #03002a;
  border-radius: 30px;
  box-shadow: 3px 3px 0px black;
  color: red;
  cursor: pointer;
  height: 120px;
  font-size: 1.05em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  transition: box-shadow 0.3s;
  width: 120px;}

.tecla.ativa, .tecla:active {
  background-color: red;
  border: 4px solid  red;
  box-shadow: 3px 3px 0px #730000b7 inset;
  color: white;
  outline: none;}

.tecla:hover { 
  box-shadow: 1px 1px 10px lime; transition: box-shadow 0.3s;}

.tecla.focus,
.tecla:focus {
  outline: none;}

.tecla.ativa:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0px #730000b7 inset, 1px 1px 10px lime;}